#about {
    .about-text {
        font-family: $ff-Karla;

        p {
            font-size: calc(.7rem + .5vw);
        }

        li {
            font-size: calc(.7em + .5vw);

            &::before {
                content: "";
                position: absolute;
                transform: translate(-170%, 30%);
                background-color: $primary;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                border: 3px solid rgb(21, 21, 21);
                box-shadow: 0px 0px 7px $primary;
            }
        }
    }

    button {
        color: black;
        padding: 6px 40px !important;

        :hover {
            color: $light;
        }
    }
}