@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Változók (fixálva) */
:root {
    --primary: #97074A;
    --secondary: rgb(10 7 22);
    --light: rgb(177, 177, 189);
}

/* Alapértelmezett stílusok */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

li {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
}

body {
    --bs-body-font-family: "Karla", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    background: var(--light);
}

header {
    height: 80px;
}

main .ball {
    position: absolute;
    width: 25vmin;
    height: 25vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    animation: move linear infinite;
}

main .ball:nth-child(odd) {
    color: rgba(151, 7, 74, 0.08);
}

main .ball:nth-child(even) {
    color: rgba(255, 255, 255, 0.02);
}

main .ball:nth-child(1) {
    top: 77%;
    left: 34%;
    animation-duration: 34s;
    animation-delay: -3s;
    transform-origin: 16vw -2vh;
    box-shadow: -60vmin 0 9.7031vmin currentColor;
}

main .ball:nth-child(2) {
    bottom: -10%;
    right: -60%;
    animation-duration: 93s;
    animation-delay: -29s;
    transform-origin: -19vw 21vh;
    box-shadow: -60vmin 0 9.1760vmin currentColor;
}

main .ball:nth-child(3) {
    bottom: -140%;
    right: -22%;
    animation-duration: 22s;
    animation-delay: 1s;
    transform-origin: -22vw 3vh;
    box-shadow: -57vmin 0 9.2482vmin currentColor;
}

main .ball:nth-child(4) {
    top: 250%;
    left: 28%;
    animation-duration: 26s;
    animation-delay: -1s;
    transform-origin: -7vw 9vh;
    box-shadow: -48vmin 0 9.2797vmin currentColor;
}

main .ball:nth-child(5) {
    top: -308%;
    left: 15%;
    animation-duration: 26s;
    animation-delay: -40s;
    transform-origin: 4vw 0vh;
    box-shadow: -70vmin 0 9.9643vmin currentColor;
}

main .ball:nth-child(6) {
    top: 182%;
    left: 16%;
    animation-duration: 31s;
    animation-delay: -10s;
    transform-origin: 18vw 4vh;
    box-shadow: 70vmin 0 9.1785vmin currentColor;
}

main .ball:nth-child(7) {
    top: 558%;
    right: -3%;
    animation-duration: 25s;
    animation-delay: -20s;
    transform-origin: 1vw -23vh;
    box-shadow: -40vmin 0 9.7030vmin currentColor;
}

main .ball:nth-child(8) {
    top: 608%;
    left: -7%;
    animation-duration: 33s;
    animation-delay: -28s;
    transform-origin: 25vw -3vh;
    box-shadow: 44vmin 0 9.1963vmin currentColor;
}

/* NAVBAR */
.navbar {
    font-family: "Karla", sans-serif;
    font-size: 1.2em;
    position: relative;
}

.navbar .nav-link:not(.no-hover)::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    opacity: 0.4;
    transition: 0.5s;
}

.navbar .nav-link:not(.no-hover):hover::after,
.navbar .nav-link:not(.no-hover):active::after {
    width: 100%;
}

.navbar .nav-link:not(.no-hover):active::after {
    background-color: white;
    opacity: 1;
}

/* Big font */
.big-font {
    font-family: "Playfair", serif;
    font-size: clamp(5.25rem, 2.125rem + 14.6667vw, 15.625rem);
    color: rgba(128, 128, 128, 0.1);
}

/* Aside, .aside.odd, .aside h3, .aside h3.even, .aside h3.odd */
.aside {
    z-index: 99;
    top: 0;
}

.aside.odd {
    top: 0;
    right: 0;
}

.aside h3 {
    height: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: calc(1.2rem + 2.2vw);
    align-items: center;
    display: flex;
    border-radius: 20px;
}

.aside h3.even {
    transform: rotate(270deg);
}

.aside h3.odd {
    transform: rotate(90deg);
}

#header .home__text {
    color: rgb(217, 206, 209);
    z-index: 99;
}

#header .home__text .hello {
    color: rgb(21, 21, 21);
    text-shadow: rgb(177, 177, 189) 3px 0px 0px, rgb(177, 177, 189) 2.83487px 0.981584px 0px,
        rgb(177, 177, 189) 2.35766px 1.85511px 0px, rgb(177, 177, 189) 1.62091px 2.52441px 0px,
        rgb(177, 177, 189) 0.705713px 2.91581px 0px, rgb(177, 177, 189) -0.287171px 2.98622px 0px,
        rgb(177, 177, 189) -1.24844px 2.72789px 0px, rgb(177, 177, 189) -2.07227px 2.16926px 0px,
        rgb(177, 177, 189) -2.66798px 1.37182px 0px, rgb(177, 177, 189) -2.96998px 0.42336px 0px,
        rgb(177, 177, 189) -2.94502px -0.571704px 0px, rgb(177, 177, 189) -2.59586px -1.50383px 0px,
        rgb(177, 177, 189) -1.96093px -2.27041px 0px, rgb(177, 177, 189) -1.11013px -2.78704px 0px,
        rgb(177, 177, 189) -0.137119px -2.99686px 0px, rgb(177, 177, 189) 0.850987px -2.87677px 0px,
        rgb(177, 177, 189) 1.74541px -2.43999px 0px, rgb(177, 177, 189) 2.44769px -1.73459px 0px,
        rgb(177, 177, 189) 2.88051px -0.838247px 0px;
    font-size: calc(.1rem + 1.5vw);
}

#header .home__text h2 {
    font-size: calc(1rem + 2vw);
}

#header .home__text .frontend {
    font-size: calc(1.5rem + 1vw);
    font-family: "Karla", sans-serif;
}

#header .home__text .about-text p {
    font-size: calc(.5rem + .8vw);
    text-shadow: 2px 2px 2px black;
    text-wrap: balance;
}

/* #about szekció */
#about .about-text {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Karla", serif;
}

#about .about-text p {
    font-size: calc(.65rem + .5vw);
}

#about .about-text li {
    font-size: calc(.6rem + .5vw);
    position: relative;
}

#about .about-text li::before {
    content: "";
    position: absolute;
    transform: translate(-170%, 30%);
    background-color: var(--primary);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid rgb(21, 21, 21);
    box-shadow: 0px 0px 7px var(--primary);
}

/* #skills szekció - példaként */
#skills li {
    text-align: center;
    background-color: rgb(10, 7, 22);
    border: 1px solid rgba(128, 128, 128, 0.15);
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    max-width: 92px;
}

#skills li::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 10%;
    top: -3px;
    left: 42%;
    box-shadow: 0px 0px 20px 20px rgba(142, 54, 95, 0.434);
}

#skills li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#skills li img {
    width: 50%;
}

#skills li p {
    text-align: center;
    font-size: .8rem;
    color: rgb(141, 138, 138);
    margin: 0;
    font-weight: 700;
}

#skills li:hover::before {
    box-shadow: none;
}

#skills .soft-skills>div {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#skills .soft-skills>div::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: -5px;
    left: -5px;
    width: 105%;
    height: 105%;
    background-image:
        linear-gradient(130deg, rgba(10, 7, 22, 0.97) 5%, rgba(10, 7, 22, 0.93) 45%, rgba(10, 7, 22, 0.93) 73%, rgba(151, 7, 74, 0.66) 120%),
        url("../assets/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
    background-repeat: no-repeat, repeat;
    background-size: cover, 150px;
    background-position: center, top left;
    border-radius: 5px;
}

#skills .soft-skills>div:hover {
    transform: scale(1.02);
}

#projects {
    width: 100%;
}

.project {
    top: 15%;
}

.project h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Playfair", sans-serif;
    font-size: calc(.6rem + 1vw);
    position: sticky;
    z-index: 99;
}

.project-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.project__desk {
    grid-area: 1 / 1 / 7 / 9;
    box-shadow: 0 0 10px black;
}

.project__desk img {
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.project__mobile {
    grid-area: 1 / 8 / 8 / 10;
    box-shadow: 0 0 10px black;
}

.project__mobile img {
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.23);
}



/* ... */
/* (a többi kódrészletet hasonlóan szintaktikailag le lehet porlasztani, hely hiányában nem rakom ki mindet egyszerre, de mind ugyanez az elv!) */

/* BOOTSTRAP felülírás (példák, ahol változó szerepelt) */
.form-control,
.btn {
    font-family: "Poppins", serif;
    border-radius: 2px;
}

.btn-link:hover {
    color: rgb(53, 131, 70);
}

.form-floating>.form-control:focus~label {
    transform: scale(0.95) translateY(-1.7rem) translateX(0.15rem);
}

textarea,
.form-floating>.form-control {
    resize: none;
    height: auto;
}

.navbar-collapse {
    height: 0;
    position: relative;
    animation: nav-strach .3s linear forwards;
}

.navbar-nav {
    position: absolute;
    right: -100%;
    animation: nav-animation .5s linear forwards;
}

/* animációk */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@keyframes moveUpDown {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 1px)
    }

    100% {
        transform: translate(0px, 0px)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 1
    }

    90% {
        opacity: 0
    }

    100% {
        opacity: 1
    }

}

@keyframes arrow-shows-down {
    0% {
        top: -100%;
        opacity: .1;
    }

    50% {
        top: 0%;
        opacity: 1;
    }

    50% {
        top: -20%;
        opacity: 1;
    }

    100% {
        top: 110%;
        opacity: .1;
    }
}

@keyframes nav-strach {
    from {
        height: 0;
    }

    to {
        height: 100dvh;
    }
}

@keyframes nav-animation {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

@media screen and (max-width: 992px) {
    nav {
        padding: 10px !important;
        transition: 0.7s;
    }

    nav.sticky {
        padding: 15px !important;
    }
}

@media screen and (min-width: 992px) {

    .navbar-collapse,
    .navbar-nav {
        height: fit-content;
        animation: none;
    }

    .navbar-nav {
        right: 0;
    }
}

@media screen and (max-height: 500px) {
    .project__desk {
        width: 80%;
        grid-area: 1 / 2 / 7 / 9;
    }

    .project__mobile {
        width: 100%;
        grid-area: 2 / 7 / 8 / 8;
    }

    .project-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}


/* Bootstrap-et külön importáld minified css-ként: */
/* <link rel="stylesheet" href="bootstrap.min.css">  (nem lehet @import CSS-ből SCSS-t) */